<div class="container">
  <div class="row">
    <!--px-3(左右のx方向にpadding), mx-auto(左右マージン)-->
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"</i>
        <strong>Bookers</strong>!
    </h1>
  </div>
</div>

